:root {
  --step-1-char: 12;
  --step-2-char: 16;
  --step-3-char: 40;
  --step-4-char: 34;
}

body {
  color: black;
}

.start {
  animation: color-switch 0s 1s, bg-switch 1s 0.5s;
  animation-fill-mode: forwards;
}

h2 {
  font-size: 50px;
  border-color: black;
}

.start h2 {
  border-color: white;
}

.step-1 {
  width: calc(var(--step-1-char) * 1ch);
  animation: typing calc(var(--step-1-char) * var(--time-char))
      steps(var(--step-1-char), end),
    blink-caret 0.5s step-end infinite alternate;
}

.start .step-1 {
  animation: deleting calc(var(--step-1-char) * var(--time-char))
      steps(var(--step-1-char), end),
    disapear 0.2s 1s;
  animation-fill-mode: forwards;
}

.step-2 {
  position: relative;
  top: -100px;
  opacity: 0;
}

.start .step-2 {
  width: calc(var(--step-2-char) * 1ch);
  animation: appear 0s 1s,
    typing calc(var(--step-2-char) * var(--time-char)) 1s
      steps(var(--step-2-char), end),
    blink-caret 0.5s step-end infinite alternate,
    deleting calc(var(--step-2-char) * var(--time-char)) 4s
      steps(var(--step-2-char), end),
    disapear 0s 5s;
  animation-fill-mode: forwards;
}

.step-3 {
  position: relative;
  top: -200px;
  opacity: 0;
}

.start .step-3 {
  width: calc(var(--step-3-char) * 1ch);
  animation: appear 0s 5s,
    typing calc(var(--step-3-char) * var(--time-char)) 5s
      steps(var(--step-3-char), end),
    blink-caret 0.5s step-end infinite alternate, end-caret 0s 7s;
  animation-fill-mode: forwards;
}

.step-4 {
  position: relative;
  top: -210px;
  opacity: 0;
}

.start .step-4 {
  width: calc(var(--step-4-char) * 1ch);
  animation: appear 0s 8s,
    typing calc(var(--step-4-char) * var(--time-char)) 8s
      steps(var(--step-4-char), end),
    blink-caret 0.5s step-end infinite alternate;
  animation-fill-mode: forwards;
}

@keyframes color-switch {
  to {
    color: white;
  }
}

@keyframes bg-switch {
  to {
    background: #ffb5c9;
  }
}
