:root {
  --step-1-char: 47;
  --step-2-char: 40;
  --step-3-char: 10;
}

/* @font-face {
  font-family: "Satan";
  src: url("../assets/who-asks-satan.ttf");
}
 */
/* TODO: Find a way to use font */

body {
  background-image: linear-gradient(148.35deg, #151515 0%, #5a0a0a 100%);
}

.step-1 {
  width: calc(var(--step-1-char) * 1ch);
  animation: typing calc(var(--step-1-char) * var(--time-char))
      steps(var(--step-1-char), end),
    blink-caret 0.5s step-end infinite alternate, end-caret 0s 2.5s;
  animation-fill-mode: forwards;
}

.step-2 {
  opacity: 0;
  width: calc(var(--step-2-char) * 1ch);
  animation: appear 0s 3s,
    typing calc(var(--step-2-char) * var(--time-char)) 3s
      steps(var(--step-2-char), end),
    blink-caret 0.5s step-end infinite alternate, end-caret 0s 5s;
  animation-fill-mode: forwards;
}

.step-3 {
  opacity: 0;
  font-family: "Satan";
  font-size: 100px;
  width: 100%;
  text-align: center;
  animation: appear 0s 6s;
  animation-fill-mode: forwards;
  border: none;
}
