<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="step-3.css">
</head>
<body>
  <h2 class="step-1">I'm so glad that you want to stay with me.</h2>
  <h2 class="step-2">My name is Aya, what is your name?</h2>
  <h2 class="step-3">
    <form action="/aa5480bc" method="post">
      > <input type="text" name="name" autofocus>
    </form>
  </h2>
</body>
</html>
