<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Hello!</title>
  <!-- TODO: Find way to set user name here -->
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/step-3-2.css">
</head>

<body>
  <h2 class="step-1">Nice to meet you <span id="name"></span></h2>
  <h2 class="step-2">I have some advice for you, don’t take things like they are and look deeper,</h2>
  <h2 class="step-3">search at the origins of things...</h2>
  <!-- e69b9e73 -->

  <script>
    const name = document.getElementById("name");
    name.innerHTML = sessionStorage.getItem("name");
  </script>
</body>

</html>