<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Run</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="step-5.css">
</head>
<body>
  <h2 class="step-1">I really appreciate that you are interested in my creativity.</h2>
  <h2 class="step-2">But you know, I used to run aroundTheLake to find my route.</h2>
  <img src="lac.svg" alt="aroundTheLake">
</body>
<script src="index.js"></script>
</html>
