<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>What's your name?</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="step-3-1.css">
</head>
<body>
  <h2 class="step-1">I'm so glad you want to stay with me.</h2>
  <h2 class="step-2">I forgot to present myself, my name is Aya, and you?</h2>
  <h2 class="step-3">
    <form action="/aa5480bc" method="post">
      > <input type="text" name="name" autocomplete="off" autofocus>
    </form>
  </h2>
</body>
</html>
