<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>First meet</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="step-2.css">
</head>
<body>
  <h2 class="step-1">I kept secrets for a long time.</h2>
  <h2 class="step-2">I think it's time for me to reveal them...</h2>
  <h2 class="step-3">I’m still young but challenges make me grow faster. My big</h2>
  <h2 class="step-4">purpose in life is to adapt to change by accomplishing ambitious</h2>
  <h2 class="step-5">goals. For that I need two inseparable things: c<a href="/580e5872">ʘ</a>de and design.</h2>
  <h2 class="step-6">Sometimes others say that I’m weird. And believe me, I am!</h2>
</body>
</html>
