<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>See U Soon</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="step-6.css">
</head>
<body>
  <h2 class="step-1">Sadly, the journey ends here, for the moment...</h2>
  <h2 class="step-2">Hope to see you soon, I’ll remember you,</h2>
  <h2 class="step-3"><%= name %></h2>
</body>
<script src="step-6.js"></script>
</html>
