<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="step-3-2.css">
</head>
<body>
  <h2 class="step-1">Nice to meet you <%= name %></h2>
  <h2 class="step-2">I have an advice for you, don’t take things like they are and look deeper,</h2>
  <h2 class="step-3">search at the origins of things...</h2>
  <!-- e69b9e73 -->
</body>
</html>
